<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>IGME 430 Game!</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="number logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div> 
    <div class="navlink"><a id = "mainPageButton" href="/game">Main Page</a></div> 
    <div class="navlink"><a id = "changePassButton" href="/changePass">Change Password</a></div>
    <div class="navlink"><a id = "premiumButton" href="/togglePremium">Toggle Premium Mode</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="errorWrapper" class='hidden'>
    <img id="errorBG" src="/assets/img/errorBG.png" alt="Error Background"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>
</body>
</html>